.bisu--search-modal {
  .search-form {
  	position: relative;
  	width: 90%;

  	.form-control {
  		border: 0;
  		outline: 0;
  		font-size: 1.4em;
  		padding-left: 35px;
      box-shadow: none;
  	}

  	.add-on {
  		position: absolute;
  		top: -6px;
  		left: 0;
  		font-size: 2em;
  		color: $gray-light;
  	}
  }
  .list-group {
		margin-top: 20px;

		.table {
			margin-bottom: 0;
		}

		td {
			padding: 7px;
		}
	}

	.list-group-item {
		padding: 0;
		border: 0;

		&:hover {
			.btn-inline {
				color: #222;
			}
		}

		&:focus {
			.btn-inline {
				color: $brand-primary;
			}
		}

		&:first-child {
			td {
				border-top: 1px solid $gray-dark;
			}
		}
	}
}
